@import "../../styleVariables";
@import "../../mixins";

.Api {
  .grid {
    // border: red 1px solid;
    //height: auto;
    width: 100%;
    // display: flex;
  }
}
.userWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  // margin-top: 65px;
  width: 95%;
  max-width: 1200px;
  margin: auto;
}
.lastGame {
  margin: 65px auto auto auto;
  // width: 50%;
  max-width: 400px;
  @include radius;
  // @include bkgGradient;
  padding: 15px;
  @include shadow;
  background-color: $lastMatchBkg;
  color: $cardButtonBkg;
  border: 0.5px solid $shadowColor;
  h3 {
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  h4 {
    // @include resultsTextBubble;
    color: $buttonBkgGreen;
    border: 1px solid $buttonBkgGreen;
    // background-color: $buttonBkgGreen;
    border-radius: 30px;
    max-width: 200px;
    text-align: center;
    margin: 10px auto 0px 0px;
    padding: 4px 30px;
    // margin: auto;
  }
  @include tablet(768px) {
    width: 90%;
    margin-top: 75px;
  }
  /* @include larger(1200px) {
    margin-right: 30px;
    width: 360px;
  } */
}
.chooseMatchTitle {
  color: $cardButtonBkg;
  margin: 0.5em auto;
  text-decoration: underline;
  text-align: center;
  @include textShadow;
  @include tabletUpwards(768px) {
    font-size: 2.3em;
  }
}
.userCard {
  // border: 1px solid #4ACEDA;
  @include cardGradient;
  @include shadow;
  color: $cardButtonBkg;
  width: 164px;
  min-height: 230px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 1em;
  border-radius: 16px;
  padding: 15px;
  .userPic img {
    height: 120px;
    width: 120px;
    // background-color: #fff;
    // border-radius: 120px;
    display: flex;
    // align-self: center;
  }
  h3 {
    background: $buttonBkgGreen;
    border: 0px;
    height: 30px;
    border-radius: 15px;
    width: 100%;
    color: $lightText;
    font-weight: 300;
    display: flex;
    justify-content: center;
    // align-self: center;
  }
  p {
    font-size: 0.8em;
    margin: 0px;
  }
  @include hoverEnlarge;
}
