@import "../../styleVariables";
@import "../../mixins";

.Menu {
  @include bkgGradient;
  @include shadow;
  align-items: center;
  display: flex;
  height: 50px;
  position: fixed;
  top: 0px;
  width: 100vw;

  .item {
    color: $lightText;
    padding: 10px 25px;
    height: 100%;
    box-sizing: border-box;
    text-decoration: none;
    &:hover {
      transition-duration: $transitionShort;
      background-color: $hoverGreen;
    }
    &.active {
      color: $buttonBkgGreen;
      font-weight: 400;
      background-color: $menuActiveBkg;
      border-bottom: 4px solid $buttonBkgGreen;
    }
    .logoutIcon {
      width: 20px;
      height: 20px;
      margin-right: 16px;
    }
    @include handhelds(413px) {
      padding: 10px 12px;
    }
  }
  .itemRight {
    position: absolute;
    right: 30px;
    display: flex;
    flex-flow: row wrap;
    // width: 150px;
    background: $buttonBkgGreen;
    border-radius: 25px;
    height: 40px;
    border: none;
    transition-duration: $transitionShort;
      &:hover {
        transform: scale(1.06);
        transition-duration: $transitionShort;
        background-color: $hoverGreen;
      }
      &.active {
        /* color: $buttonBkgGreen;
        font-weight: 400; */
        background-color: transparent;
        border: 1px solid $lightBorder;
        color: $lightText;
        opacity: 0.8;
        transform: none;
    }
    @include handhelds(413px) {
      right: 10px;
    }
  }

}
