@import "../../styleVariables";
@import "../../mixins";

.gameContainer {
    color: $lightText;
    @include textShadow;
    .title {
        margin-bottom: 20px;
    }
    .versusContainer {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        @include tablet(768px) {
           flex-flow: column wrap;
          }
        align-items: center;
        
    }
    .gamePlayer {
        // width: 130px;
        // border: 1px solid $buttonBkgGreen;
        // display: inline-block;
        margin: 30px;
        @include resultsTextBubble;
        @include tablet(768px) {
            width: 80%;
            max-width: initial;
          }
          @include midScreen {
            width: 36%;
          }
    }
    .versus {
        font-size: 30px;
        font-weight: 600;
        vertical-align: top;
        // margin-bottom: 0px;
    }
}
