@import "../../styleVariables";
@import "../../mixins";

.gameWrapper {
  height: 100vh;
  display: flex;
  flex-flow: column;
  margin-top: 65px;
  @include tablet(768px) {
    justify-content: center;
  }
}
.cardWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 30px auto;
    width: 90%;
    max-width: 500px;
    border: 1px solid $shadowColor;
    @include shadow;
    @include radius;
    background-color: $lastMatchBkg;
    padding: 10px;

  }
  .chooseCardTitle {
    color: $cardButtonBkg;
    // margin-top: 75px;
    text-decoration: underline;
    text-align: center;
    @include textShadow;
    @include tabletUpwards(768px) {
      font-size: 2.3em;
    }
  }
.playCard {
    // border: 1px solid #4ACEDA;
    @include cardGradient;
    @include shadow;
    color: $cardButtonBkg;
    width: 150px;
    min-height: 210px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 1em;
    border-radius: 16px;
    padding: 15px;
    @include tablet(768px) {
        width: 130px;
        min-height: 190px;
      }
    @include handhelds(413px) {
        width: 110px;
        min-height: 167px;
        &:hover {
          transform: scale(1.3)!important;
          transition-duration: $transitionShort;
        }
      }
    .cardPic {
        // height: 120px;
        img {
        width: 120px;
        height: 120px;
        @include tablet(768px) {
            width: 100%;
            height: auto;
          }
        }
        // background-color: #fff;
        // border-radius: 120px;
        display: flex;
        // align-self: center;
    }
    h3 {
        background: $buttonBkgGreen;
        border: 0px;
        height: 30px;
        margin-bottom: 0px;
        border-radius: 15px;
        width: 100%;
        color: $lightText;
        font-weight: 300;
        display: flex;
        justify-content: center;
        // align-self: center;
        @include tablet(768px) {
            font-size: 0.9em;
            height: 24px;
          }
    }
    p {
        font-size: 0.8em;
        margin: 0px;
    }
    @include hoverEnlarge;
}