@import "../../styleVariables";
@import "../../mixins";

.Login {
  color: $loginGrey;

  .logo {
    max-width: 200px;
  }

  .title {
    color: $lightText;
  }

  .grid {
    // border: red 1px solid;
    height: auto;
    width: 100%;
    display: flex;

    /* > *:nth-child(odd) {
      border-right: 1px solid;
    } */
  }
  .errorMessage {
    @include errorStyleGlobal;
  }
}
