
//@import "../../assets/styles/animations";
@import "../../styleVariables";
@import "../../mixins";

.Container {
  align-items: center;
  /* animation: BgDegree 10s ease infinite; */
  /* background-image: linear-gradient(-45deg, #97ccf7, #7eb9ea);
  background-position: 0 0; */
  /* background-size: 600% 600%; */
  display: flex;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  width: 98vw;

  .wrapper {
    /* background-color: #fff; */
    @include bkgGradient;
    @include shadow;
    @include radius;
    background-position: 0 0;
    margin-bottom: 15px;
    margin-top: 65px;
    width: 60%;
    padding: 40px 0px;

    .logout {
      // color: #10545b;
      color: $lightText;
    }
    @include tablet(768px) {
      width: 95%;
    }
    @include midScreen {
      width: 80%;
    }
  }
}

input[type="text"],
input[type="password"] {
  border-radius: 15px;
  height: 30px;
  width: 90%;
  max-width: 360px;
  @include shadow;
  border: /* 1px solid #3f8fd1 */ 0px;
  margin: auto auto 15px auto;
  display: block;
  padding-left: 15px;
  box-sizing: border-box;
  color: $buttonBkgGreen;
  font-family: $primaryFont;
  font-weight: 300;
}
input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: $buttonBkgGreen;
}
input:focus {
  outline: none;
}
input[type="submit"], input[type="button"] {
  background: $buttonBkgGreen;
  border: 0px;
  height: 30px;
  border-radius: 15px;
  width: 90%;
  max-width: 360px;
  color: $lightText;
  font-family: $primaryFont;
  font-weight: 300;
  font-size: 1.17em;
  @include shadow;
  transition-duration: $transitionShort;
  &:hover {
    transform: scale(1.04);
    transition-duration: $transitionShort;
    background-color: $hoverGreen;
  }
}
