@import "../../styleVariables";

@mixin bkgGradient {
  background-image: linear-gradient(-45deg, $wrapperStartBlue, $wrapperEndBlue);
}

@mixin shadow {
  -webkit-box-shadow: 1px 1px 1px 0px $shadowColor;
  -moz-box-shadow: 1px 1px 1px 0px $shadowColor;
  box-shadow: 1px 1px 1px 0px $shadowColor;
}

@mixin radius {
  border-radius: 30px 6px 30px 6px;
}

@mixin cardGradient {
  background-image: linear-gradient(
    -45deg,
    $cardGradientStart,
    $cardGradientEnd
  );
}

@mixin textShadow {
  text-shadow: 1px 1px $shadowColor;
}

@mixin resultsTextBubble {
  border-radius: 30px;
  padding: 10px 30px;
  background-color: $buttonBkgGreen;
  text-shadow: none;
  width: 40%;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin errorStyleGlobal {
  color: $errorRedSolid;
  box-shadow: 1px 1px 1px 0px $errorShadow;
  background-color: $errorBkg;
  border-radius: 25px;
  width: 90%;
  max-width: 360px;
  margin: 20px auto auto auto;
  position: relative;
  padding: 10px 40px;
  .excMark {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 9px;
    width: 1.5em;
    border: 0.5px solid $errorExcBorder;
    border-radius: 14px;
    font-weight: 700;
  }
}

@mixin hoverEnlarge {
  transition-duration: $transitionShort;
  &:hover {
    transform: scale(1.15);
    transition-duration: $transitionShort;
  }
}

@mixin handhelds($width: 413px) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin tablet($width: 768px) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin tabletUpwards($width: 768px) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin larger($width: 1024px) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

$tabletWidth: 768px;
$desktopWidth: 1136px;

@mixin midScreen {
  @media (min-width: #{$tabletWidth + 1px}) and (max-width: #{$desktopWidth}) {
    @content;
  }
}

