$wrapperEndBlue: #4ACEDA;
$wrapperStartBlue: #9EE3EE;
$shadowColor: #1194a08a;
$buttonBkgGreen: #36b3be;
$hoverGreen: #0ca6b4;
$lightText: #ffffff;
$lightBorder: #ffffff;
$menuActiveBkg: #d6fcff;
$cardGradientStart: #c2f8ff;
$cardGradientEnd: #4bdfec;
$cardButtonBkg: #07636b;
$loginGrey: #3e3e3e;
$errorRedSolid: #FE4A49;
$errorShadow: #fe4a4961;
$errorExcBorder: #fe5a49ad;
$errorBkg: #f4f4f89c;
$lastMatchBkg: #83d8e017;

$primaryFont: 'Open Sans', sans-serif;
$h1Font: 'Montserrat', sans-serif;

$transitionShort: 0.3s;