body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans',  -apple-system, BlinkMacSystemFont,"Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400|Open+Sans:300,700');

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}