@import "../../styleVariables";
@import "../../mixins";

.startContainer {
    color: $lightText;
    .title {
        @include textShadow;
    }
    h4 {
        margin: auto;
        @include resultsTextBubble;
        font-weight: 300;
        @include tablet(768px) {
            width: 80%;
            max-width: initial;
          }
    }
}